<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pictza">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FriendListSearch"></activity>
        <activity android:name=".FriendEdit" />
        <activity android:name=".AddFriend" />
        <activity android:name=".UpdateTODO" />
        <activity android:name=".TODOSearch" />
        <activity android:name=".TODOView" />
        <activity android:name=".AddOrCart" />
        <activity android:name=".ManageCart" />
        <activity android:name=".AddTODO" />
        <activity android:name=".EventSearch" />
        <activity android:name=".PaintingEdit" />
        <activity android:name=".paintings" />
        <activity android:name=".FriendEditDelete" />
        <activity android:name=".payment" />
        <activity android:name=".bid" />
        <activity android:name=".search" />
        <activity android:name=".ManageEvent" />
        <activity android:name=".UploadPainting" />
        <activity android:name=".auctionAdd" />
        <activity android:name=".ManageFriends" />
        <activity android:name=".viewOrEdit" />
        <activity android:name=".profileArtist" />
        <activity android:name=".manageShows" />
        <activity android:name=".addShow" />
        <activity android:name=".shows" />
        <activity android:name=".item" />
        <activity android:name=".FriendList" />
        <activity android:name=".cart" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".LoginActivity">

            <!-- android:label="@string/title_activity_login" -->
            <!-- android:parentActivityName=".HomeActivity"> -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.example.pictza.HomeActivity" /> -->
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>